.card {
  border: 1px solid black;
  margin: 20px;
  background: lightgrey;
  height: 430px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 4px 4px 2px;
}


.street {
  margin: -20px;
}

.state {
  margin: -20px;
  padding-bottom: 30px;
}

.sex {
  margin-top: -15px;
}

.card:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
}

.zip {
  margin-top: -15px;
}

.picture {
  height: 200px;
  width: 200px;
  border: 10px solid black;
}

.favorite-button {
  padding-left: 10px;
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 60px;
  cursor: pointer;
  font-weight: bold;
  color: blue;
  margin-top: 15px;
  box-shadow: 0px 0px 10px;
}

.active {
  color: red;
}
