.card {
  border: 1px solid black;
  margin: 20px;
  background: #B3D3E3;
  height: 430px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 4px 4px 2px;
}


.street {
  margin: -20px;
}

.state {
  margin: -20px;
  padding-bottom: 30px;
}

.sex {
  margin-top: -15px;
}

.card:hover {
  cursor: pointer;
  background-color: #74A6D2;
  border: 1px solid red;
}

.picture {
  height: 200px;
  width: 200px;
  border: 10px solid black;
}
