.search {
  width: 200px; }

.button {
  margin-top: 10px; }

.header-container {
  background-image: url("../../Images/caleb-fisher-7320_Fotor.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.whos {
  color: white; }

.search-for {
  color: white;
  margin-top: -10px; }

.dog-cards {
  background-image: url("../../Images/jonathan-forage-367660.jpg");
  background-size: cover; }
