
.search {
  width: 200px;
}

.button {
  margin-top: 10px;
}


.header-container {
  background-image: url('../../Images/caleb-fisher-7320.jpg');
  background-size: cover;
  // filter: brightness(30%);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whos {

}

.search-for {
  margin-top: -10px;
}

.dog-cards {
  // background-color: #5C3A2B;
  background-image: url('../../Images/jonathan-forage-367660.jpg');
  background-size: cover;
}
