.search {
  width: 200px; }

.button {
  margin-top: 10px; }

.header-container {
  background-image: url("../../Images/caleb-fisher-7320.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.search-for {
  margin-top: 250px; }

.dog-cards {
  background-image: url("../../Images/jonathan-forage-367660.jpg");
  background-size: cover; }
